<div class="mt-4">
    <form>
        <div class="form-group">
            <label for="search-input">Tu khoa</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="nhap tu khoa...">
        </div>
        <button type="submit" class="btn btn-primary">Tim kiem</button>
    </form>
</div>